*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatainer {
    width : 100%;
    height : 100vh;
    /* border-radius: 5px; */
    /* border-color: black; */
    background: #3a4452;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
}

.calculator {
    background-color: #001f3f;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 1px solid;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.display {
    display: flex;
    justify-content: flex-end;
    height: 90px;
    margin: 20px 0;
}

form .display input{
    border: solid 1px gray;
    text-align: right;
    flex : 1;
    font-size: 35px;
    box-shadow:  none;
}

form input.equal {
    width: 145px;

}

form input.operator{
    color: #ff9500;
}

form input.inputs {
    height: 85px;
    
}

.outer{
    border: 3px solid black;
    border-radius: 12px;
}